<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <object th:include="fragments/fragment :: requirement" th:remove="tag"></object>


</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
<div class="Test">
    <div th:if="${successtext} " th:replace="fragments/fragment :: alert-success-fragment(successtext=${successtext})"></div>
    <div th:if="${errortext} " th:replace="fragments/fragment :: alert-error-fragment(errortext=${errortext})"></div>
    
    <h1 class="text">Home</h1>
    <h1 th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'" class="text"></h1>
</div>

    <div th:replace="fragments/fragment :: scripts" th:remove="tag"></div>

</body>
</html>